@keyframes linearChange{
   from {
      transform: scale(.9);
      background-position: bottom left;
   }
   to {
      transform: scale(1);
      background-position: top right;
   }
}
@keyframes arrow {
   from {
      transform: translate(0px, -5px);
   }
   to {
      transform: translate(0px, 5px);
   }
}
@keyframes wave {
   from {
      transform: rotate(-10deg);
   }
   to {
      transform: rotate(10deg);
   }
}
@keyframes strokeHover {
   from {
      stroke: var(--blueRyb);
   }
   to {
      stroke: var(--violet);
   }
}