/* header */
header {
   padding: 0px 70px;
   height: 85px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header ul {
   display: flex;
   gap: 70px;
   font-size: 1.25rem;
}
ul li a{
   padding: 10px;
   position: relative;
}
ul li a::after {
   content: "";
   width: 0%;
   height: 2px;
   background:  linear-gradient(90deg, var(--cerulean), var(--violet)) ;
   position: absolute;
   bottom: 0;
   left: 0;
   transition: .3s ease-in-out;
}
ul li a:hover::after {
   width: 100%;
}

/* main */

#social {
   position: fixed;
   bottom: 70px;
   left: 70px;
   display: flex;
   flex-direction: column;
   gap: 25px;
}