.textGradient {
   background:  linear-gradient(90deg, var(--blueRyb), var(--violet)) ;
   background-size: 100%;
   background-clip: text;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}
.circle {
   position: absolute;
   clip-path: circle();
   background: linear-gradient(45deg, var(--blueRyb), var(--violet));
   background-size: 300%;
   animation: linearChange 5s cubic-bezier(0.87, 0, 0.13, 1) alternate infinite;
   z-index: -1;
}

/* header */
header {
   width: 100%;
   height: 85px;
   padding: 0px 80px;
   background-color: var(--xiketic);
   opacity: .6;
   backdrop-filter: blur(40px);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0px;
   z-index: 2;
}
header h1 {
   font-family: var(--titleFont);
   font-weight: 500;
}
header nav ul {
   display: flex;
   gap: 70px;
   font-size: 1.25rem;
}
ul li a{
   padding: 10px;
   position: relative;
}
ul li a::after {
   content: "";
   width: 0%;
   height: 2px;
   background:  linear-gradient(90deg, var(--blueRyb), var(--violet)) ;
   position: absolute;
   bottom: 0;
   left: 0;
   transition: .3s ease-in-out;
}
ul li a:hover::after, ul li a:focus::after {
   width: 100%;
}

/* main */

#social {
   position: fixed;
   bottom: 70px;
   margin-left: 70px;
   display: flex;
   flex-direction: column;
   gap: 25px;
   z-index: 1;
}
#social a{
   position: relative;
   visibility: hidden;
}
#view1 {
   height: calc(100vh - 85px);
   max-height: 1200px;
   padding: 80px;
   display: grid;
   grid-template-columns: 2fr 1.5fr;
   grid-template-rows: 1fr 3fr;
   grid-template-areas: 
   "apre ."
   ". blockQuo";
   align-items: center;
   position: relative;
}
.circle1 {
   width: 100px;
   height: 100px;
   top: 0;
   left: 35%;
}
.circle2 {
   width: 220px;
   height: 220px;
   bottom: 290px;
   left: -30px;
}
.circle3 {
   width: 120px;
   height: 120px;
   bottom: 20px;
   left: 25%;
}
#apresentation {
   grid-area: apre;
}
#apresentation h1 {
   font-size: 3rem;
   font-weight: normal;
}
#apresentation p {
   font-size: 2.5rem;
}
.waving {
   display: inline-block;
   animation: wave 1s cubic-bezier(0.45, 0, 0.55, 1) alternate infinite;
   transform-origin: 70% 70%;
}
#blockQuo {
   width: 600px;
   justify-self: center;
   grid-area: blockQuo;
   position: relative;
}
.circle4 {
   width: 350px;
   height: 350px;
   top: -50%;
   right: -30%;
}
.circle5 {
   width: 130px;
   height: 130px;
   top: -18%;
   left: 25%;
}
.circle6 {
   width: 220px;
   height: 220px;
   bottom: -30%;
   left: -15%;
}
#quotes {
   width: 600px;
   height: 320px;
   padding: 40px;

   border-radius: 15px;
   border: 3px solid transparent;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
   background-color: rgba(255, 255, 255, 0.01);
   background-clip: padding-box;
   backdrop-filter: blur(15px);

   font-family: var(--garamond);
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
blockquote {
   font: normal 400 1.5rem var(--garamond);
}
#quotes #author {
   font-weight: 600;
   font-size: 2rem;
   letter-spacing: 3px;
}

.circle7 {
   width: 200px;
   height: 200px;
   top: 30px;
   left: -80px;
   z-index: 0;
}
.circle8 {
   width: 120px;
   height: 120px;
   bottom: -60px;
   right: 700px;
   z-index: 0;
}
.circle9 {
   width: 240px;
   height: 240px;
   top: -80px;
   right: -50px;
   z-index: 0;
}
#containerAbout {
   margin: auto;
   height: 600px;
   display: flex;
   align-items: center;
   justify-content: space-evenly ;
   background: linear-gradient(90deg,var(--oxfordBlue), var(--xiketic));
   border-radius: 15px 0px 0px 15px;
   position: relative;
}
#about, #skills {
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
   z-index: 1;
}
#about h1, #skills h1 {
   font-family: var(--titleFont);
   font-weight: 500;
}
#about {
   text-align: justify; 
}
#about p{
   font-size: 1.3rem;
}
#languages {
   width: 100% ;
   display:flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   text-align: center;
}

#projects {
   width: 100%;
   height: 600px;
   display: flex;
   align-items: center;
   position: relative;
}
#projects article {
   margin: 0 auto;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   background: linear-gradient(0deg, var(--xiketic), var(--oxfordBlue), var(--xiketic));
   box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
   padding: 30px;
   border-radius: 10px;
   position: relative;
}
#projects article p {
   width: 500px;
   height: 160px;
   font-size: 1.3rem;
   text-align: justify;
}
.circle10 {
   width: 80px;
   height: 80px;
   bottom: 50px;
   left: 40%;
}
.circle11 {
   width: 200px;
   height: 200px;
   top: -50px;  
   left: -100px;
}
.circle12 {
   width: 200px;
   height: 200px;
   bottom: 140px;
   right: -100px;
}
/* footer */
footer #arrow {
   animation: arrow 2s ease-in-out alternate infinite;
}