/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   html{
      overflow-x: hidden;
      max-width: 100vw;
   }
   header { 
      display: none;
   }
   h1 {
      font-size: 1.7rem;
   }
   main {
      gap: 100px;
   }
   #social {
      left: 30px;
      bottom: 80px;
      gap: 10px;
   }
   #social svg {
      width: 30px;
   }
   #view1 {
      height: 100vh;
      margin: 0;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
   }
   .circle1 {
      width: 50px;
      height: 50px;
      top: 20px;
   }
   .circle2 {
      width: 120px;
      height: 120px;
      top: 50px;
   }
   .circle3 {
      width: 70px;
      height: 70px;
      right: 10%;
      left: unset;
   }
   #apresentation {
      text-align: justify;
   }
   #apresentation h1 {
      font-size: 1.6rem;
   }
   #apresentation p {
      font-size: 1.3rem;
   }
   #blockQuo, #quotes {
      width: 100%;
   }
   #quotes {
      height: 250px;
      padding: 20px;
   }
   #quotes q {
      font-size: 1.2rem;
   }
   #quotes #author {
      font-size: 1.6rem;
   }
   .circle4 {
      width: 170px;
      height: 170px;
      right: -20%;
      top: -35%;
   }
   .circle5 {
      display: none;
   }
   .circle6 {
      width: 100px;
      height: 100px;
      bottom: -20%;
      left: -10%;
   }
   #about {
      flex-direction: column;
      gap: 30px;
      padding: 40px;
   }
   #aboutText p {
      font-size: 1.1rem;
      font-weight: 300;
   }
   #aboutText h1 {
      font-size: 1.7rem;
   }
   #containerPic {
      width: auto;
      height: 100%;
   }
   #myPicture {
      width: 150px;
   }
   #containerPic::after {
      width: 100%;
      min-width: 150px;
      height: 100%;
      min-height: 158px;
   }
   #containerPic::before {
      width: 100%;
      min-width: 150px;
      height: 100%;
      min-height: 158px;
   }
   .circle7{
      width: 150px;
      height: 150px;
      top: -50px;
   }
   .circle8{
      width: 50px;
      height: 50px;
      bottom: -30px;
      left: -20px;
      right: unset;
   }
   .circle9{
      width: 100px;
      height: 100px;
      top: 50%;
      right: -15%;
   }
   #skills {
      width: 100%;
      padding: 30px;
   }
   #skills h1 {
      font-size: 1.7rem;
   }
   #skills #languages {
      gap: 10px;
   }
   #languages div img {
      width: 60px;
   }

   #projects {
      height: 100%;
      width: 100%;
      flex-direction: column;
      gap: 40px;
      padding: 30px;
   }
   #projects article, #projects article .face{
      width: 100%;
      max-width: 500px;
      height: 100%;
   }
   #projects article .face.face1, #projects article .face.face2{
      transform: translateY(0) ;
   }
   #projects article .face.face2 {
      margin-top: -5px;
      padding: 20px;
   }
   #projects article .face.face2 p{
      font-size: .9rem;
   }
   #projects article .arrowCard {
      display: none;
   }
   #projects aside  {
      justify-content: space-evenly;
   }
   #projects aside .btnProjects{
      width: 100px;
   }
   .imgProject {
      width: 100%;
   }
   .circle10 {
      display: none;
   }
   .circle11 {
      width: 150px;
      height: 150px;
      top: -75px;  
      right: -15%;
      left: unset;
   }
   .circle12 {
      width: 150px;
      height: 150px;
      bottom: -75px;
      left: -15%;
      right: unset;
   }
   footer {
      padding: 0px 10px;
      justify-content: space-evenly;
   }
   footer p {
      font-size: .9rem;
   }
   footer #arrow {
      width: 50px;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
   html{
      overflow-x: hidden;
      max-width: 100vw;
   }
   header {
      padding: 0px 50px;
      width: 100vw;
      height: 60px;
   }
   header h1 {
      display: none;
   }
   header nav {
      width: 100%;
   }
   header nav ul {
      gap: unset;
      justify-content: space-evenly;
   }
   h1 {
      font-size: 1.7rem;
   }
   #social {
      margin: 0;
      left: 40px;
      bottom: 80px;
      gap: 10px;
   }
   #social svg {
      width: 40px;
   }
   #view1 {
      height: calc(100vh - 60px);
      padding: 40px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
   }
   .circle1 {
      width: 60px;
      height: 60px;
      top: 20px;
   }
   .circle2 {
      width: 130px;
      height: 130px;
      top: 50px;
   }
   .circle3 {
      width: 80px;
      height: 80px;
      right: 15%;
      left: unset;
   }
   #apresentation h1 {
      font-size: 2.2rem;
   }
   #apresentation p {
      font-size: 1.7rem;
   }
   #blockQuo, #quotes {
      max-width: 600px;
      width: 100%;
   }
   #quotes {
      height: 240px;
      padding: 20px;
   }
   #quotes q {
      font-size: 1.4rem;
   }
   #quotes #author {
      font-size: 2rem;
   }
   .circle4 {
      width: 190px;
      height: 190px;
      right: -15%;
      top: -25%;
   }
   .circle5 {
      display: unset;
   }
   .circle6 {
      width: 110px;
      height: 110px;
      bottom: -20%;
      left: -10%;
   }

   #about {
      flex-direction: column;
      padding: 40px;
      gap: 50px;
   }
   #about p {
      font-size: 1.2rem;
   }
   #about h1, #skills h1{
      font-size: 2rem;
   }
   .circle7{
      width: 160px;
      height: 160px;
      top: -70px;
   }
   .circle8{
      width: 80px;
      height: 80px;
      bottom: -40px;
      left: 90px;
      right: unset;
   }
   .circle9{
      width: 110px;
      height: 110px;
      top: 50%;
      right: -40px;
   }
   #projects {
      flex-direction: column;
      gap: 40px;
      padding: 30px;
   }
   #projects article, #projects article .face{
      width: 500px;
      height: 100%;
   }
   #projects article .face.face1, #projects article .face.face2{
      transform: translateY(0) ;
   }
   #projects article .face.face2 {
      margin-top: -5px;
      padding: 20px;
   }
   #projects article .face.face2 p{
      font-size: .9rem;
   }
   #projects article .arrowCard {
      display: none; 
   }
   .circle10 {
      display: none;
   }
   .circle11 {
      width: 150px;
      height: 150px;
      top: -75px;  
      left: -15%;
      right: unset;
   }
   .circle12 {
      width: 150px;
      height: 150px;
      bottom: -75px;
      right: -15%;
      left: unset;
   }
   
   footer {
      padding: 0px 50px;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
   html{
      overflow-x: hidden;
      max-width: 100vw;
   }
   header {
      display: flex;
      justify-content: space-evenly;
      padding: 0px 40px;
   }
   header h1 img {
      width: 110px;
   }
   header nav ul {
      justify-content: unset;
      gap: 50px;
   }
   #social {
      left: 40px;
   }
   #social img {
      width: 40px;
   }
   
   #view1 {
      padding: 40px; 
      display: grid;
      grid-template-areas: 
      "apre apre ."
      ". blockQuo blockQuo";
      grid-template-columns: 1.5fr 2fr 1fr;
      grid-template-rows: 1fr 3fr;
   }
   #apresentation h1 {
      font-size: 2rem;
   } 
   #apresentation p {
      font-size: 1.7rem;
   }
   #blockQuo, #quotes {
      max-width: 600px;
      width: 100%;
   }
   #quotes {
      height: 300px;
      padding: 20px;
   }
   #quotes q {
      font-size: 1.4rem;
   }
   #quotes #author {
      font-size: 2rem;
   }
   .circle1 {
      width: 60px;
      height: 60px;
      top: 0px;
   }
   .circle2 {
      width: 130px;
      height: 130px;
      top: 20px;
   }
   .circle3 {
      width: 80px;
      height: 80px;
      bottom: -10px;
      left: 20%;
      right: unset;
   }
   .circle4 {
      width: 190px;
      height: 190px;
      right: -20%;
      top: -25%;
   }
   .circle5 {
      display: block;
   }
   .circle6 {
      width: 110px;
      height: 110px;
      bottom: -10%;
      left: -50px;
   }
   #about {
      padding: 40px;
      gap: 50px;
   }
   #about p {
      font-size: 1.2rem;
   }
   #about h1, #skills h1{
      font-size: 2rem;
   }
   #projects {
      flex-direction: column;
      gap: 40px;
      padding: 30px;
   }
   #projects article, #projects article .face{
      width: 500px;
      height: 100%;
   }
   #projects article .face.face1, #projects article .face.face2{
      transform: translateY(0) ;
   }
   #projects article .face.face2 {
      margin-top: -5px;
      padding: 20px;
   }
   #projects article .face.face2 p{
      font-size: .9rem;
   }
   #projects article .arrowCard {
      display: none; 
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
   html{
      overflow-x: hidden;
      max-width: 100vw;
   }
   #view1 {
      padding: 40px; 
      grid-template-areas: 
      "apre apre ."
      ". blockQuo blockQuo";
      grid-template-columns: 1.5fr 2fr 1fr;
      grid-template-rows: 1fr 3fr;
   }
   .circle1 {
      width: 60px;
      height: 60px;
      top: 0px;
   }
   .circle2 {
      width: 130px;
      height: 130px;
      top: 20px;
   }
   .circle3 {
      width: 80px;
      height: 80px;
      bottom: -10px;
      left: 20%;
      right: unset;
   }
   .circle4 {
      width: 190px;
      height: 190px;
      right: -20%;
      top: -25%;
   }
   .circle6 {
      width: 110px;
      height: 110px;
      bottom: -10%;
      left: -50px;
   }
   header h1 img {
      width: 140px;
   }
   #social {
      margin: 0;
      left: 40px;
      gap: 20px;
   }
   #social svg {
      width: 50px;
   }
   #apresentation h1 {
      font-size: 2.3rem;
   } 
   #apresentation p {
      font-size: 1.8rem;
   }
   #about {
      flex-direction: row;
      gap: 50px;
      padding: 40px;
   }

   #projects {
      flex-direction: row;
      gap: 50px;
      height: 100%;
      padding: 20px;
   }
   
   #projects article .face.face1,#projects article .face.face2  {
      width: 450px;
      height: 275px;
      font-size: .9rem;
   }
   #projects article .face.face1 {
      transform: translateY(120px);
   }
   #projects article:hover .face.face1{
      transform: translateY(0);
   }
   #projects article .face.face2 {
      gap: unset;
      justify-content: space-between;
      transform: translateY(-100px);
      margin-top: -6px;
      padding-bottom: 10px;
   }
   #projects article:hover .face.face2 {
      transform: translateY(0px);
   }
   .imgProject {
      width: 100%;
   }
   #projects article .arrowCard {
      display: block;
   }
   footer {
      gap: unset;
      justify-content: space-evenly;
   }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1400px){
   #view1 {
      padding: 40px; 
      grid-template-areas: 
      "apre apre ."
      ". blockQuo blockQuo";
      grid-template-columns: 1.5fr 2fr 1fr;
      grid-template-rows: 1fr 3fr;
   }
   .circle1 {
      width: 60px;
      height: 60px;
      top: 0px;
   }
   .circle2 {
      width: 130px;
      height: 130px;
      top: 20px;
   }
   .circle3 {
      width: 80px;
      height: 80px;
      bottom: -10px;
      left: 20%;
      right: unset;
   }
   .circle4 {
      width: 190px;
      height: 190px;
      right: -20%;
      top: -25%;
   }
   .circle6 {
      width: 110px;
      height: 110px;
      bottom: -10%;
      left: -50px;
   }
}