@media only screen and (max-width: 600px) {
   html{
      overflow-x: hidden;
      max-width: 100vw;
   }
   header {
      display: none; 
   }
   h1 {
      font-size: 1.7rem;
   }
   main {
      gap: 100px;
   }
   #social {
      margin: 0;
      left: 30px;
      bottom: 40px;
      gap: 10px;
   }
   #social svg {
      width: 30px;
   }
   #view1 {
      min-height: 100%;
      margin: 0;
      height: 100vh;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
   }
   .circle1 {
      width: 50px;
      height: 50px;
      top: 20px;
   }
   .circle2 {
      width: 120px;
      height: 120px;
      top: 50px;
   }
   .circle3 {
      width: 70px;
      height: 70px;
      right: 10%;
      left: unset;
   }
   #apresentation {
      text-align: justify;
   }
   #apresentation h1 {
      font-size: 1.6rem;
   }
   #apresentation p {
      font-size: 1.3rem;
   }
   #blockQuo, #quotes {
      width: 100%;
   }
   #quotes {
      height: 100%;
      min-height: 220px;
      padding: 20px;
   }
   #quotes q {
      font-size: 1.2rem;
   }
   #quotes #author {
      font-size: 1.6rem;
   }
   .circle4 {
      width: 170px;
      height: 170px;
      right: -20%;
      top: -35%;
   }
   .circle5 {
      display: none;
   }
   .circle6 {
      width: 100px;
      height: 100px;
      bottom: -20%;
      left: -10%;
   }
   #about {
      flex-direction: column;
   }
   #containerPic {
      width: 150px;
      height: 158px;
   }
   #myPicture {
      width: 150px;
   }
   #containerPic::after {
      width: 100%;
      min-width: 150px;
      height: 100%;
      min-height: 158px;
   }
   #containerPic::before {
      width: 100%;
      min-width: 150px;
      height: 100%;
      min-height: 158px;
   }
   .circle7{
      width: 150px;
      height: 150px;
      top: -50px;
   }
   .circle8{
      width: 50px;
      height: 50px;
      bottom: -30px;
      left: -20px;
      right: unset;
   }
   .circle9{
      width: 100px;
      height: 100px;
      top: 50%;
      right: -15%;
   }

   #projects {
      height: 100%;
      width: 100%;
      flex-direction: column;
      gap: 40px;
      padding: 30px;
   }
   .circle10 {
      display: none;
   }
   .circle11 {
      width: 150px;
      height: 150px;
      top: -75px;  
      right: -15%;
      left: unset;
   }
   .circle12 {
      width: 150px;
      height: 150px;
      bottom: -75px;
      left: -15%;
      right: unset;
   }
   #projects article {
      width: 100%;
   }
   #projects article p {
      width: 100%;
      height: 100%;
      max-height: 100%;
      font-size: 1.1rem;
   }
   .imgProject {
      width: 100%;
   }
   footer {
      padding: 0px 30px;
   }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
   html{
      overflow-x: hidden;
      max-width: 100vw;
   }
   header {
      padding: 0px 50px;
      width: 100vw;
      height: 60px;
   }
   header h1 {
      display: none;
   }
   header nav {
      width: 100%;
   }
   header nav ul {
      gap: unset;
      justify-content: space-between;
   }
   h1 {
      font-size: 1.7rem;
   }
   #social {
      margin: 0;
      left: 40px;
      bottom: 10%;
      gap: 10px;
   }
   #social img {
      width: 40px;
   }
   #view1 {
      height: calc(100vh - 60px);
      padding: 50px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
   }
   .circle1 {
      width: 60px;
      height: 60px;
      top: 20px;
   }
   .circle2 {
      width: 130px;
      height: 130px;
      top: 50px;
   }
   .circle3 {
      width: 80px;
      height: 80px;
      right: 15%;
      left: unset;
   }
   #apresentation h1 {
      font-size: 2.2rem;
   }
   #apresentation p {
      font-size: 1.7rem;
   }
   #blockQuo, #quotes {
      max-width: 600px;
      width: 100%;
   }
   #quotes {
      height: 100%;
      min-height: 240px;
      padding: 20px;
   }
   #quotes q {
      font-size: 1.4rem;
   }
   #quotes #author {
      font-size: 2rem;
   }
   .circle4 {
      width: 190px;
      height: 190px;
      right: -15%;
      top: -25%;
   }
   .circle5 {
      display: none;
   }
   .circle6 {
      width: 110px;
      height: 110px;
      bottom: -20%;
      left: -10%;
   }

   #containerAbout {
      flex-direction: column;
      background: linear-gradient(0deg, var(--xiketic), var(--oxfordBlue), var(--xiketic));
      border-radius: 15px;
      margin: 50px;
      height: 100%;
   }
   .circle7{
      width: 160px;
      height: 160px;
      top: -50px;
   }
   .circle8{
      width: 60px;
      height: 60px;
      bottom: -30px;
      left: -20px;
      right: unset;
   }
   .circle9{
      width: 110px;
      height: 110px;
      top: 50%;
      right: -15%;
   }
   #about, #skills {
      width: 100%;
      padding: 50px;
   }
   #languages {
      justify-content: space-around;
      font-size: 1rem;
      gap: 10px;
   }
   #languages div img {
      width: 70px;
   }
   #about p {
      font-size: 1.2rem;
   }
   #about h1, #skills h1 {
      font-size: 2rem;
   }

   #projects {
      height: 100%;
      width: 100%;
      flex-direction: row;
      gap: 40px;
      padding: 50px;
   }
   .circle10 {
      display: none;
   }
   .circle11 {
      width: 150px;
      height: 150px;
      top: -75px;  
      left: -15%;
      right: unset;
   }
   .circle12 {
      width: 150px;
      height: 150px;
      bottom: -75px;
      right: -15%;
      left: unset;
   }
   #projects article {
      width: 100%;
      min-height: 500px;
      height: 100%;
      padding: 30px;
   }
   #projects article p {
      width: 100%;
      height: 100%;
      font-size: 1rem;
   }
   .imgProject {
      width: 100%;
   }
   footer {
      padding: 0px 50px;
   }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
   html{
      overflow-x: hidden;
      max-width: 100vw;
   }
   header {
      padding: 0px 40px;
      width: 100vw;
   }
   header h1 {
      font-size: 2rem;
   }
   #social {
      margin: 0;
      left: 50px;
   }
   #social img {
      width: 40px;
   }

   #view1 {
      height: calc(100vh - 60px);
      padding: 50px; 
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 3fr;
   }
   .circle1 {
      width: 60px;
      height: 60px;
      top: 0px;
   }
   .circle2 {
      width: 130px;
      height: 130px;
      top: 20px;
   }
   .circle3 {
      width: 80px;
      height: 80px;
      bottom: -10px;
      left: 20%;
      right: unset;
   }
   .circle4 {
      width: 190px;
      height: 190px;
      right: -20%;
      top: -25%;
   }
   .circle5 {
      display: none;
   }
   .circle6 {
      width: 110px;
      height: 110px;
      bottom: -10%;
      left: -50px;
   }
   #apresentation h1 {
      font-size: 2rem;
   } 
   #apresentation p {
      font-size: 1.7rem;
   }
   #containerAbout {
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding: 40px 90px;
   }

   #about, #skills {
      width: 100%;
      max-width: 600px;
   }
   
   #projects {
      flex-direction: column;
      height: 100%;
      width: 100%;
      gap: 40px;
      padding: 50px;
   }

   #blockQuo, #quotes {
      max-width: 600px;
      width: 100%;
   }
   #quotes {
      height: 100%;
      min-height: 260px;
      padding: 20px;
   }
   #quotes q {
      font-size: 1.4rem;
   }
   #quotes #author {
      font-size: 2rem;
   }
}

@media only screen and (min-width: 1200px) and (max-width:1450px) {
   html{
      overflow-x: hidden;
      max-width: 100vw;
   }
   .circle1 {
      width: 60px;
      height: 60px;
      top: 0px;
   }
   .circle2 {
      width: 130px;
      height: 130px;
      top: 20px;
   }
   .circle3 {
      width: 80px;
      height: 80px;
      bottom: -10px;
      left: 20%;
      right: unset;
   }
   .circle4 {
      width: 190px;
      height: 190px;
      right: -20%;
      top: -25%;
   }
   .circle5 {
      display: none;
   }
   .circle6 {
      width: 110px;
      height: 110px;
      bottom: -10%;
      left: -50px;
   }
   #social {
      margin: 0;
      left: 40px;
   }
   #social img {
      width: 40px;
   }
   #apresentation h1 {
      font-size: 2.3rem;
   } 
   #apresentation p {
      font-size: 1.8rem;
   }
   #projects {
      padding: 0px 40px;
   }
   #projects article {
      width: 500px;
   }
   #projects article p {
      width: 100%;
   }
   .imgProject {
      width: 100%;
   }
}
