@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');
:root {
   --xiketic : #050517;
   --oxfordBlue: #071235;
   --violet: #7901A4;
   --cerulean : #05b2dc;
   --garamond: 'EB Garamond', serif;
   --nunito: 'Nunito', sans-serif;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--nunito);
}
body {
   background-color: var(--xiketic);
   min-height: 100vh;
   color: #fff;
}
h1 {
   font-size: 2.2rem;
}
a {
   text-decoration: none;
   color: white;
}
li {
   list-style: none;
}
.textGradient {
   background:  linear-gradient(90deg, var(--cerulean), var(--violet)) ;
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}
#social_1{
   position: relative;
   visibility: hidden;
}
#social_2{
   position: relative;
   visibility: hidden;
}  
#social_3 {
   position: relative;
   visibility: hidden;
}