@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Poppins:wght@200;300&display=swap');
:root {
   --xiketic: #050517;
   --oxfordBlue: #071235;
   --violet: #7901A4;
   --blueRyb: #0c3fe9;
   --garamond: 'EB Garamond', serif;
   --titleFont: 'Josefin Sans', sans-serif;
   --parFont: 'Poppins', sans-serif;
}
html{
   overflow-x: hidden;
   max-width: 100vw;
}
*, html, body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: var(--xiketic);
   min-height: 100vh;
   max-width: 2000px;
   color: #fff;
   font-family: var(--parFont);
   overflow-x: hidden;
   margin: 0 auto;
   position: relative;
}
main {
   display: flex;
   flex-direction: column;
   gap: 200px;
   position: relative;
}
h1 {
   font-size: 2.5rem;
}
a {
   text-decoration: none;
   color: white;
}
li {
   list-style: none;
}
#languages div img {
   width: 80px;
}
.imgProject {
   border-radius: 10px;
}
footer {
   height: 70px;
   padding: 0px 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
}