@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');
:root {
   --xiketic : #050517;
   --oxfordBlue: #071235;
   --violet: #7901A4;
   --cerulean : #05b2dc;
   --garamond: 'EB Garamond', serif;
   --nunito: 'Nunito', sans-serif;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: var(--xiketic);
   min-height: 100vh;
   color: #fff;
   font-family: var(--nunito);
   overflow-x: hidden;
}
h1 {
   font-size: 2.5rem;
}
a {
   text-decoration: none;
   color: white;
}
li {
   list-style: none;
}
.textGradient {
   background:  linear-gradient(90deg, var(--cerulean), var(--violet)) ;
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}
#social a{
   position: relative;
   visibility: hidden;
}

#view1 { 
   height: 100vh;
}
.circle {
   clip-path: circle();
   background: linear-gradient(45deg, var(--cerulean), var(--violet));
   position: absolute;
   background-size: 300%;
   animation: linearChange 5s cubic-bezier(0.87, 0, 0.13, 1) alternate infinite;
   z-index: -1;
}