@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500&display=swap');

@import url(./elements.css);
@import url(./responsive.css);
@import url(./animation.css);
:root {
   --xiketic: #050517;
   --oxfordBlue: #071235;
   --violet: #7901A4;
   --blueRyb: #0c3fe9;
   --garamond: 'EB Garamond', serif;
   --titleFont: 'Josefin Sans', sans-serif;;
   --parFont: 'Poppins', sans-serif;
}
html{
   overflow-x: hidden;
   max-width: 100vw;
}
*, html, body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: var(--xiketic);
   min-height: 100vh;
   max-width: 1920px;
   color: #fff;
   overflow-x: hidden;
   scroll-behavior: smooth;
   margin: 0 auto;
   position: relative;
}
main {
   display: flex;
   flex-direction: column;
   gap: 150px;
   position: relative;
}
h1 {
   font-size: 2.5rem;
}
a {
   text-decoration: none;
   color: white;
}
li {
   list-style: none;
}
#languages div img {
   width: 80px;
}
.imgProject {
   border-radius: 10px 10px 0px 0px ;
}
.arrowCard img {
   width: 30px;
}
button {
   background: none;
   border: none;
}
footer {
   height: 70px;
   margin-top: 80px;
   padding: 0px 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
}